html {
  scroll-behavior:smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 234, 234);
}

.topnav {
  background-image: linear-gradient(to bottom, #151519 0%,rgba(21,21,25,0.9) 15%,rgba(21,21,25,0.7) 30%,rgba(21,21,25,0.6) 40%,rgba(21,21,25,0.5) 50%,rgba(21,21,25,0.4) 60%,rgba(21,21,25,0.3) 70%,rgba(21,21,25,0.2) 80%,rgba(21,21,25,0.1) 85%,rgba(21,21,25,0) 98%);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  padding-bottom: 5%;
  padding-top: 1.5%;
  width: 100%;
  overflow: hidden;
  
  text-align: center;
}
th{
  width: 33%;
  border: 3px solid rgb(235, 234, 234);
  
}
.th1 {
  width: 45%;
  
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border: 30px solid rgb(235, 234, 234);
}

tr{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.th2{
  width: 33%;
  border: 3px solid rgb(235, 234, 234);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table{
 
  padding: 1%;
}

.middle {
  width: 100%;
  text-align: center;
  /* Made by */
}
.middle h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.middle input[type=button] {
  display: none;
}
.middle input[type=button]:checked + .box {
  background-color: #007e90;
}
.middle input[type=button]:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle input[type=button]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  
  padding: 5%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgb(235, 234, 234);
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}

.middle .box:hover{
  box-shadow: rgba(8, 58, 221, 0.856) 0px 5px 15px;
  background-color: gold;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.middle .front-end span:before {
  content: "";
}
.middle .back-end span:before {
  content: "";
}
.middle p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.middle p a {
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}
.middle p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}



@media only screen and (max-width: 500px) {
  .th1 {
    width: 80%;
  }

  .middle .box {
    border-radius: 100%;
    width: 10vw;
    height: 12vw;
    background-color: rgb(235, 234, 234);
    transition: all 250ms ease;
    will-change: transition;
    display: flex;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    font-weight: 900;
    font-size: 8px;

  }
}


@media only screen and (max-width: 500px) {
  .short-text { display: inline-block; }
  .full-text { display: none; }
}
@media only screen and (min-width: 501px) {
  .short-text { display: none; }
  .full-text { display: inline-block; }
}









