@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.fontopensans {
    font-family: 'Open Sans', sans-serif;
}

.fontopensansBold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}