@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    /* font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;     */
    /* font-family: 'Roboto', sans-serif;
    font-style: italic; */
}
h1,h2,h3,h4{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.fontsans {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.fontsansBold {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.fontlato {
    font-family: 'Lato', sans-serif;
}

.fontlatoBold {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.mainFont {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
}
.medium {
    font-size:large;
}
.mainFontBold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}